<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <div class="page-header">
            REGISTER
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
            
            <mat-form-field class="form-fields" appearance="fill" style="width: 100%;">
                <mat-label>Username</mat-label>
                <input type="text" matInput formControlName="username" placeholder="Enter your username...">
                <mat-error *ngIf="f.username.hasError('required')">
                    Username is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-fields" appearance="fill" style="width: 100%;">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" placeholder="Enter your password...">
                <mat-error *ngIf="f.password.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="f.password.hasError('minlength')">
                    Password should be atleast 6 characters in length
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-fields" appearance="fill" style="width: 100%;">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput formControlName="confirmpassword" placeholder="Confirm password...">
                <mat-error *ngIf="f.confirmpassword.errors">
                    Confirm Password and Password <strong>does not match</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-fields" appearance="fill" style="width: 100%;">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email" placeholder="Enter valid email id...">
                <mat-error *ngIf="f.email.hasError('required')">
                    Email ID is <strong>required.</strong>
                </mat-error>
                <mat-error *ngIf="f.email.hasError('email')">
                    Email ID is <strong>not valid.</strong>
                </mat-error>
            </mat-form-field>

            <div class="form-group" >
                <label style="margin-right: 20px;" >Add profile picture</label>
                <input type="file" #fileInput />
            </div>
            <br>
            <div class="form-group">
                <button [disabled]="loading" mat-raised-button color="primary" >
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a style="margin-left: 10px;" mat-raised-button color="accent" routerLink="/dashboard/signin" color="accent" >Cancel</a>
            </div>
        </form>
    </div>
</div>